body, #exception {
    background-color: beige;
}

h3 {
    background-color: darkgrey;
}

#exception {
    text-decoration: underline;
}


.centered, .container {
    text-align: center;
}



.centered-list {
        display: inline-block;
        text-align: left;
      }

img {
        width: 40%;
        height: 40%;
        object-fit: contain;
        border: 3px solid #555;
    }

footer{
    font-style: italic;
}

